!!!
html(ng-app="lightningthieves")

  head
    meta(charset='utf-8')
    title lightningthieves

    script(src='/vendor/js/angular.min.js')
    script(src='/vendor/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')

    script(src='/js/app.js')
    script(src='/js/services.js')
    script(src='/js/controllers.js')

    link(rel='stylesheet', href='/vendor/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/main.css')

  body

    div.container
      h1 "lightningthieves" Mining Status Center

      div.row
        div.span3(ng-controller='FetchCtrl')
          h3 Exchange Rates
          table(class='table table-bordered table-condensed centered-headings')
            thead
              tr
                th(ng-click='convert = convertLTC')
                  | LTCLTC
                  br
                  span.sub-header Always
                th(ng-click='convert = convertBTCeBTC')
                  | LTCBTC
                  br
                  span.sub-header BTC-e
                th(ng-click='convert = convertBTCeUSD')
                  | LTCUSD
                  br
                  span.sub-header BTC-e
                th(ng-click='convert = convertMtGoxUSD')
                  | BTCUSD
                  br
                  span.sub-header MtGox
            tbody
              tr
                td 1
                td {{ news.btce_ltcbtc.ticker.last | number:4 }}
                td {{ news.btce_ltcusd.ticker.last | number:4 }}
                td {{ news.mtgox_btcusd.data.last_local.value | number:4 }}

          h3 Pool Rewards
          table(class='table table-bordered table-condensed centered-headings')
            thead
              tr
                th
                  | Confirmed Rewards
                  br
                  span.sub-header {{ currency }}
                th
                  | Estimated Rewards
                  br
                  span.sub-header {{ currency }}
                th
                  | Payout History
                  br
                  span.sub-header {{ currency }}
              tbody
                tr
                  td {{ convert(news.ktr.confirmed_rewards) | number:4 }}
                  td {{ convert(news.ktr.estimated_rewards) | number:4 }}
                  td {{ convert(news.ktr.payout_history) | number:4 }}

          h3 Mining

          div(class='alert alert-error', ng-hide='!init || running()')
            strong Error!
            |  The mining rig is down!
          div(class='alert alert-success', ng-hide='!init || !running()')
            strong Hurray!
            |  The mining rig is running!

          table(class='table table-bordered table-condensed centered-headings')
            thead
              tr
                th
                  | Hash Rate
                  br
                  span.sub-header Est - kh/s
                th
                  | Difficulty
                  br
                  &nbsp;
                th
                  | Weekly Income
                  br
                  span.sub-header Est - {{ currency }}
            tbody
              tr
                td {{ news.ktr.hashrate | number:2 }}
                td {{ news.gml_api.difficulty | number:2 }}
                td {{ convert(weekly_income) | number:4 }}

          table(class='table-condensed')
            tr
              th(ng-click='update()') Update:
              td {{ last_news_time | date: 'HH:mm:ss' }}
            tr
              th(ng-click='fetch()') Fetch:
              td {{ news.last_fetch_time | date: 'HH:mm:ss' }}

        div.span6
          h2 About the Group
          p
            | <strong>lightningthieves</strong> is a&nbsp;
            a(href='http://litecoin.org/', title='A Bitcoin derivative.')
              | Litecoin
            |  mining group on&nbsp;
            a(href='http://ltc.kattare.com/', title='Great pool; 0% fees!')
              | burnside's pool
            | , operating since mid-April 2013. Currently, we're running a 7970,
            | hashing at around 630 kh/s.

          h2 About This Site
          p
            | The server periodically fetches from various&nbsp;
            a(href='http://en.wikipedia.org/wiki/JSON',
              title='Imperfect but practical.')
              | JSON
            | &nbsp;APIs. When you load this page, a connection between your
            | browser and the server keeps this page up-to-date with the latest
            | data.
          p
            | You can press the table headings of the exchange rates to change
            | the units displayed in the other tables.
          p
            | You can press "Fetch" to request that the server fetch data from
            | its sources again, which also causes an update to be sent. Press
            | "Update" requests for only an update.
          p
            | This site was written not only so that the non-technical members
            | of the group could have a streamlined way to monitor the markets
            | and our miner, but also because the author wanted to experiment in
            | web site creation. This web site is written in&nbsp;
            a(href='http://nodejs.org', title='Easy to deploy to Heroku')
              | node.js
            | ,&nbsp;
            a(href='http://en.wikipedia.org/wiki/HTML5',
              title='Simple, modern web design.') HTML5
            | ,&nbsp;
            a(href='http://en.wikipedia.org/wiki/CSS',
              title='Separation of content and presentation.') CSS
            | , and&nbsp;
            a(href='http://en.wikipedia.org/wiki/JavaScript',
              title="Hey, it's not PHP.") JavaScript
            | . It utilizes the&nbsp;
            a(href='http://angularjs.org/',
              title='Easy responsive UIs') AngularJS
            | ,&nbsp;
            a(href='http://twitter.github.io/bootstrap/',
              title='Easy pretty page layouts.') Bootstrap
            | ,&nbsp;
            a(href='http://expressjs.com/',
              title='Easy custom HTTP servers.') express
            | , and&nbsp;
            a(href='http://socket.io/',
              title='Easy client-server communication.') socket.io
            |  libraries. You'll notice it doesn't use&nbsp;
            a(href='http://jquery.com/',
              title="Maybe I'll need it, but AngularJS is pretty awesome.")
              | jQuery
            | .
          p
            | Litecoin: LgGmJyTYzTRGBoC8Xjbvu42SCW19dtkJtX <br />
            | Bitcoin: 1A6srmrFTBrtFCB9ixJ4ZrxhpdNWHApaM4
          p
            | You can view the code for this site on&nbsp;
            a(href='https://github.com/kinghajj/lightningthieves-m2'
              title='Would you prefer hg? Get out!') github
            | .

        div.span3(ng-controller='ChatCtrl')
          h3 Chat
          form(ng-submit='chat()')
            input(type='text', ng-model='msg', placeholder='Have something to say?')
          ul.unstyled
            li(ng-repeat='line in chat_lines')
              p
                strong {{ line.sender }}
                | : {{ line.msg }}
